@charset "UTF-8";

.form {
  width: 500px;
  margin: 0 auto;
  max-width: 500px;
}

.form {
  width: 400px;
  margin: 50px auto;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.form-group label {
  width: 200px;
  text-align: right;
  margin-right: 20px;
}

.form-group input {
  flex: 1;
  padding: 8px;
}

input::placeholder {
  color: #b0b0b0;
  opacity: 1;
}

.check-area {
  max-width: 750px;
  margin: 20px auto auto;
  background-color: rgba(255,255,255,0.2);
  padding: 1rem;
}

.text {
  text-align: left;
  margin-bottom: 10px;
}

.checkbox {
  transform: scale(1.5);
  cursor: pointer;
}

.check-area label {
  width: auto;
  margin: 0;
  text-align: left;
  cursor: pointer;
}

.password-area {
  margin-top: 20px;
}

button {
  margin-top: 20px;
  margin-bottom: 10px;
}

.button-area {
  display: inline-block;
  margin-top: 20px;
}